
	<ul class="submenu">
		<% if !@categories.blank? %>
		   
			<li>
				<%= link_to t("category.all"),all_categories_path,:remote => true,:class => "cat"  %>
					<%# if @categories.count > 0 %>
					<!--<span class="number"><%#= @categories.count %></span>-->
					<%# end %>
			
		    </li>
			<li>
				<%= link_to t("category.lastest"), trademarks_last_updated_path,{:class => "cat"},:remote => true %>
			</li>
			<li>
				<% unless @category.nil? %>
					
					<%= link_to t('tm.add'), new_category_trademark_path(@category),:class => "cat" %>
					
				<% end %>
			</li>
			<li>
				<%# if user_signed_in? %>
					<%= link_to t('category.add'),new_category_path,:class => 'cat' %>
				<%# end %>
			</li>
		<% else %>
		  
		<% end %>
		
	</ul>
	