<% title t('about.about_us') %>

<!--sidemenu-->
<div class="sidemenu">
	<ul>
		<li>
			<a href="#purpose" class="first" >我们的宗旨</a>
		</li>
		<li>
			<a href="#story">我们的故事</a>
		</li>
		<li>
			<a href="#team">我们的团队</a>
		</li>
		<li>
			<a href="#contact">联系我们</a>
		</li>
	</ul>
</div>

	<div class="page_content">
		<a name="purpose"></a>
		<div id="purpose" class="about_section">
			<!--here is purpose-->
			<h1>Our Mission</h1>
			
			Websites are soooo 1997. The vast majority of websites on the web (excluding, of course, the more notorious kind) are business websites. Let's examine that term - business websites. Websites built for the purpose of generating or assisting businesses. Business websites have common attributes - they often have business related goals; they often have contact forms and other methods to capture sales inquiries; they might sell products; they often contain product and service information and so on and so on.<p/>

			It's these common attributes that show us why taking a "website" mindset is so wrong. A website is just some pages in a browser. An Online Business, however, has business goals - marketing, sales, customer service and so on.<p/>

			We believe that Online Businesses are what 99% of your clients are looking for. We believed back in 2004 that a website mindset is unproductive and unhelpful, and we still believe it now.<p/>

			BC is a platform built for Online Businesses - with business goals and business tools and business.. well, everything. It's also a platform designed to help you, as a web professional, to build Online Businesses. So you can see - we're pretty serious about this Online Business thing. That's why it's our mission to help you build Online Businesses, not Websites.
			
			
			<a href="#top" class="anchor">top</a>
		</div>
		
		<a name="story"></a>
		<div id="story" class="about_section">
			<!--here is story-->
			<h1>The BC Story</h1>
			The BC story starts in 2004, in Sydney, Australia, with two experienced technology entrepreneurs - Bardia Housman and Adam Broadway. After initially bonding over a common love of beer, Bardia and Adam realised they shared another similarity - both were dissatisfied with the lack of serious tools for business owners to grow their business online. So, as most of these stories go, they decided to branch out and build the sort of online business platform they were looking for.

			Before long, they were joined by Colin Frost, a whip-crack never-say-die business development manager. He was shortly followed by Brett Welch, programmer-turned-marketing guy who would later also launch the GoodBarry brand. Brett is writing this text right now, and for reasons of modesty cannot adequately blow his own trumpet.

			This team of brave adventurers were joined by other intrepid souls, and before long Business Catalyst, powered by hungry adoption by web designers around Australia, started to grow into a serious business with international potential. In 2007 BC launched the GoodBarry brand, a retail exploration which further cemented their market reach.

			In 2008 Business Catalyst opened their first international office in San Francisco, USA, to better service their growing Partner base in the US and Europe. It was around this time that BC's platform for web professional's gained the notice of Adobe Systems.

			In 2009, Adobe Systems acquired Business Catalyst. Adobe Systems saw BC as a great complement to Adobe's existing products and services and the BC team completely agreed. Now, in 2010, the same BC team that started it all is working harder than ever on making Adobe Business Catalyst the best online business platform for web professionals everywhere.
			
			<a href="#top" class="anchor">top</a>
		</div>
		
		<a name="team"></a>
		<div id="team"  class="about_section">
			<!--here is team-->
			<h1>Your Friendly Neighbourhood BC Team</h1>

			The BC team, unfortunately, is too big to list in it's entirety on this page. Instead, here's a list of some of our team who you might see on our blog, out and about, or on our forums.
			
			<a href="#top" class="anchor">top</a>
		</div>
		
		<a name="contact"></a>
		<div id="contact" class="about_section">
			<!--here is contact-->
			<h1>Contact Us</h1>
			email:<p/>
			address:<p/>
			
			<a href="#top" class="anchor">top</a>
		</div>
		
	</div>

